/* INITIAL DECLARATIONS  */

*{
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2; 
    margin: 0px;
    height: 100%; 
    line-height: 22px;
    position: relative;
}    

img {
    /* height: 100%;  */
    width: 100%; 
}

ul {
    padding: 0px;
    list-style-type: none;
} 

footer {
    text-align: center;
}

/* NAV BAR */
.nav-bar {
    background-color: #F6F6F6;
    border-bottom: #E1E1E1 0.5px solid;
    padding: 10px 135px; 
    height: 57px; 
    width: 100%; 
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    font-size: 12px; 
    width: 337px; 
    font-family: 'Lato', normal;  
}

.nav-icons{
    position: fixed;
    top: 0; 
    right: 135px; 
}


li {
    display: inline;
}

a {
    text-decoration: none;
    color: #605F60;
}

a:hover {
    color: #AF5F48; 
}

.social-icons {
    display: inline;
    position: absolute;
    top: 0;
    right: 36px;
}

/* MAIN CONTAINER */

.container {
    padding: 45px 0px 0px 135px;     
    height: 100%;
    width: 100%; 
    display: flex;
}



article {
    max-width: 675px; 
    margin-bottom: 45px; 
    border: 1px solid #EAEAEA; 
}

.article-img {
    width: 675px; 
    height: 425px;
}


.city-img{
    width: 675px; 
    height: 425px; 
}

.testing {
    background-color: #FFFFFF;
    max-height: 405px;
}

.article-info {
    height: 315px;  
    width: auto; 
    padding-right: 36px;
    padding-left: 36px; 
    text-align: center;
}

.authors-info {
    height: 77px; 
    /* border-top: 1px solid #605F60;  */
    width: auto; 
    padding-top: 0px; 
    text-align: start;
    position: relative;
    padding-right: 36px;
    padding-left: 36px; 
    margin-top: 12px; 
}

.text {
    width: 677px; 
    height: 407px;  
    background-color: #ffff;
}

hr {
    margin-right: 36px; 
    margin-left: 36px; 
    margin-top: 12px; 
}

button{
    background-color: #ffff;
    color: #DC6A55;
    border: 1px solid #DC6A55; 
    font-family: 'Playfair Display', italic; 
    width: 152px; 
    height: 30px;
    padding-right: 0px; 
    padding-left: 0px;
}


button:hover {
    background-color: #DC6A55;
    color: #ffff; 
}


 p {
    text-align: left;
 } 

.authors{
    border-bottom: #605F60 solid;
    height: 95px;
    width: 75px;
    display: flexbox; 
}


.profile-text {
    height: 327px; 
    width: ;
    background-color: #ffff;
}

.article-category {
    color: #DC6A55; 
}

h6 {
    margin: 0px; 
    font-family: 'Lato', normal;
    font-weight: 600;
    letter-spacing: 0.5px; 
    padding-top: 39px; 
}

h4 {
    margin-top: 10px; 
    font-family: 'Oswald', normal;
    font-size: 21px;
    font-weight: 800; 
    letter-spacing: 0.5px;
    color: #343434; 
    margin-bottom: 19px;
}

.lorem {
    margin-top: 0px; 
    font-family: 'Lato', normal;
    font-weight: 400;
    font-size: 13.5px;
    margin-bottom: 35px;
}

.section1 {
    height: 100%;
    max-width: 677px; 
    width: 677px; 
    display: inline;
    margin-right: 25px; 
}

.section {
    height: 100%; 
    max-width: 426px; 
    display: inline; 
}

.section2 {
    height: ;
    display: inline;
    max-width: 325px;
}

.profile {
    height: 493px;
    max-width: 325px;  
    background-color: #FFFFFF;
    position: relative;
    text-align: center;
}

.profile-img {
    width: 325px;
    height: 166px;
}

.circle-img {
    width: 170px; 
    height: 170px; 
    border-radius: 50%;
    position: absolute; 
    z-index: 2;
    top: 90px; 
    right: 80px; 
    border: 7px white solid; 
}

.username {
    margin-top: 100px; ;
    font-family: 'Oswald', normal;
}

.user-description {
    padding: 0 30px; 
}

.profile > p {
    text-align: center;
}

.profile-icons {
    padding-top: 7px;
}


.user-icons > li >.fa {
    border: 1px gray solid;
    border-radius: 50%; 
    padding: 5px;
}

.user-icons {
    margin: 0px; 
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

.popular-posts {
    width: 325px;
    height: 889px;
    background-color: #FFFFFF;
    margin-top: 30px; 
    text-align: center;
    padding: 30px 30px 0px 30px;
}

.latest-posts li {
    width: 95px; 
    /* height: 70px;
    background-color: #FFFFFF; 
    margin-top: 35px; 
    padding: 30px 30px 0px 30px; 
    text-align: center; */
}

.latest-posts img {
        /* width: 95px;
        height: 70px; */
}

.instagram-feed {
    width: 325px; 
    height: 518px; 
    background-color: #FFFFFF;
    margin-top: 35px;
    padding: 30px 30px 0px 30px
}

.footer {
    border: 1px black solid;
    height: 50px;
}

.ICE-CREAM{ 
    height: 180px;
    width: 265px;
}


.LLAMA{
    height: 180px;
    width: 265px;
}

.PINEAPPLE{
    height: 180px;
    width: 265px;
}



.column {
    float: left;
    width: 168px;
    height: 168px;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  } 

/* .latest-posts{
  width: 325px; 
  height: 518px; 
  background-color: #FFFFFF;
  margin-top: 35px;
} */