
html{
    box-sizing: border-box; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    background-color: #F2F2F2; 
;
}    

.nav-bar {
    background-color: #F6F6F6;
    border-bottom: #605F60 1px solid;
    padding: 10px 120px; 
}

ul {
    padding: 0px;
    list-style-type: none;
} 

li {
    display: inline;
}

a {
    text-decoration: none;
    color: #605F60;
}

a:hover {
    color: #AF5F48; 
}

.social-icons {
    display: inline;
}

.nav-menu {
    display: inline;
}

.container {
    padding: 50px 150px; 
}

img {
    width: 755px; 
    height: 477px; 
}







